.index{
    background-color: beige;
    margin: 0px;
    
}


h3 {
    color: grey;
}

hr {
    width: 100px;
    border: dotted 2px grey;

}

a {
    text-decoration: none;
}

a:hover {
    color: grey;
}

.contact{
    background-color: rgb(230, 203, 173);
}

.hobby{
    background-color: rgb(220, 227, 213);
}


.mail {
    display: inline-block;
    position: relative;
    right: 5px;
    background-color: rgb(43, 124, 230);
    color: white;
    border: 1px ;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}
.mail:hover {
    background-color: rgb(89, 178, 241);
    color: beige;
}

.github {
    display: inline-flex;
    position: relative;
    left: 5px;
    background-color: rgb(43, 124, 230);
    color: white;
    border: 1px ;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}

.github:hover {
    background-color: rgb(89, 178, 241);
    color: beige;
}



.h{
    font-family: sacremental, cursive;
    font-size: 30px;
}

.info {
    width: 50%;
    margin: auto auto auto 380px;
    text-align: center;
    
    
}

.insta {
    height: 30px;
    width: 30px;
}

.insta:hover {
    height: 30px;
    width: 30px;
    background-color: rgb(220, 227, 213);
    border-radius: 10px;
}

.linkedin {
    height: 30px;
    width: 30px;
    left: 65px;
    bottom: 50px;
}

.linkedin:hover {
    height: 30px;
    width: 30px;
    background-color: rgb(236, 243, 185);
    border-radius: 100%;
}

.git {
    height: 30px;
    width: 30px;
    left: 130px;
    bottom: 100px;
}

.git:hover {
    height: 30px;
    width: 30px;
    background-color: rgb(220, 227, 213);
    border-radius: 10px;
}

.hob {
    width: 50%;
    margin: 100px auto 100px auto;
}

.music-image {
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 30px;
}

.movie-image {
    height: 250px;
    width: 250px;
    float: right;
    margin-left: 30px;

}

.game-logo {
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 30px;
}

.music {
    display: inline-block;
    line-height: 2;

}

.movie {
    display: inline-block;
    line-height: 2;
    margin-top: 50px;

}

.games {
    display: inline-block;
    line-height: 2;
    margin-top: 50px;
}

.name {
    color: black;
}

.text {
    color: black;
}

.home {
    position: relative;
    background-color: rgb(77, 127, 182);
    color:white;
    border: 1px ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    left: 670px;
}


.home:hover {
    background-color: rgb(89, 178, 241);
    color: beige;
}

.contact-2{
    position: relative;
    left: 680px;
    background-color: rgb(77, 127, 182);
    color:white;
    border: 1px ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.contact-2:hover {
    background-color: rgb(89, 178, 241);
    color: beige;
}

.foot {
    background-color: rgb(246, 230, 209);
    padding: 20px 0;
}

.active {
    background-color: rgb(77, 127, 182);
    color:white;
    border: 1px ;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.active:hover {
    background-color: rgb(93, 150, 230);
    color: beige;
}

.nav {
    background-color: rgb(220, 229, 200);
    padding: 40px 0;
}
